@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    background: #eb4d4b;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
}

header h1 {
    font-size: 28px;
}

header img {
    width: 25px;
}

header .esq {
    display: flex;
    align-content: center;
    align-items: center;
}

header .dir {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: inherit
}

svg {
    fill: white;
}

#popup {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.ficheiros h5 {
    font-size: 16px;
    padding-left: 0.5em;
}

.ficheiro {
    height: 45px;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 1.5em;
}

.ficheiro img {
    padding-right: 0.5em;
    width: 25px;
}

.ficheiro:nth-child(odd) {
    background: #f1f2f6;
}

.ficheiro:nth-child(even) {
    background: #f7f7f7;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #eb4d4b;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #ce3d3b;
}

button {
    width: 44px;
    font-weight: normal;
    height: 44px;
    background: #eb4d4b;
    border: none;
    color: white;
    font-size: 1.25rem;
    margin-left: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #ce3d3b;
}

button img {
    width: 25px;
}

form {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 16px;
    }
}